<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">채팅방</h1>

        <div>
            <div class="container">
                <div class="col-6">
                    <label th:if="${lno} == '0'"><b>전체 채팅방</b></label>
                    <label th:unless="${lno} == '0'"><b>[[${lno}]]호선 채팅방</b></label>
                </div>
                <div>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=0}">전체</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=1}">1호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=2}">2호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=3}">3호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=4}">4호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=5}">5호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=6}">6호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=7}">7호선</a>
                    <a class="btn btn-secondary" th:href="@{/chat?lno=8}">8호선</a>
                </div>
                <div>
                    <div id="msgArea" class="col"></div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>
</html>