<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">게시판
            <span>
                <button display="none" type="button" class="btn btn-outline-primary" id="moveWrite" th:onclick="moveWrite()">글쓰기</button>
            </span>
        </h1>
        <a class="btn btn-secondary" th:href="@{/board}">전체</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=1}">1호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=2}">2호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=3}">3호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=4}">4호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=5}">5호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=6}">6호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=7}">7호선</a>
        <a class="btn btn-secondary" th:href="@{/board?lno=8}">8호선</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">글번호</th>
                <th scope="col">노선</th>
                <th scope="col">역명</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto:${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/board/read(bno=${dto.bno})}">
                        [[${dto.bno}]]
                    </a>
                </th>
                <td>[[${dto.lineNo}]]</td>
                <td>[[${dto.stdStation}]]</td>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/board/list(page=${result.start-1})}" tabindex="-1">Previous</a>
            </li>
            <li th:class="'page-item'+${result.page==page?'active':''}"th:each="page:${result.pageList}">
                <a class="page-link" th:href="@{/board/list(page=${page})}">
                    [[${page}]]
                </a>
            </li>
            <li class="page=item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(page=${result.end+1})}">Next</a>
            </li>
        </ul>
        </table>
    </th:block>
</th:block>
</html>