<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">글 수정</h1>
        <form th:action="@{/board/modify}" th:method="post">
            <div class="form-group">
                <label>글번호</label>
                <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
            </div>
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}">
            </div>
            <div class="form-group">
                <label>호선</label>
                <textarea class="form-control" rows="1" name="lineNo" readonly>[[${dto.lineNo}]]</textarea>
            </div>
            <div class="form-group">
                <label>역명</label>
                <textarea class="form-control" rows="1" name="stdStation" readonly>[[${dto.stdStation}]]</textarea>
            </div>
            <div class="form-group">
                <label>내용</label>
                <textarea type="text" rows="5" class="form-control" name="content" th:text="${dto.content}"></textarea>
            </div>

            <button type="submit" class="btn btn-primary modifyBtn">수정하기</button>
        </form>

    </th:block>
</th:block>
</html>