<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">게시글 등록</h1>
        <form th:action="@{/board/write}" th:method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <div id="searchStnNm">
                    <label>역 이름</label>
                        <input type="text" name="stdStation" id="stdStation">
                        <button type="button" class="btn btn-primary" onclick="searchStn()">역명 검색</button>
                </div>
                <div id="stnNmArea" style="display: none;">
                    <select class="form-select form-group" onchange="changeStation()" th:name="selectStnNm">
                        <option value="">-- 선택 --</option>
                        <option th:each="val : ${stnList}" th:value="${val}" th:utext="${val}">
                        </option>
                    </select>
                </div>

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">작성하기</button>
        </form>
    </th:block>
</th:block>
</html>